{% extends 'layout.html' %}

{% block body %}

<section>
    <div class="container">
        <div class="content">
            <div class="row justify-content-between">
                <div class="col-xl-8 col-lg-6 mb-lg-0 mb-4">
                    <div class="mb-3">
                        <div class="col-xl-9">
                            <div class="input group m-5">
                                <form action="">
                                    <input type="text" class="form-control" id="ciudad" placeholder="Escoja una Ciudad">
                                    <button type="submit"><i class="fa-search"></i>Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</section>

{% endblock %}

<section class="weather-banner-2">
    <div class="container">
        <div class="content">
            <div class="row justify-content-between">
                <div class="col-xl-8 col-lg-6 mb-lg-0 mb-4">
                    <div class="text">
                        <h5 class="fw-4 fs-23">Weather and Forecast </h5>
                        <h2 class="fw-4 lh-120">Daily Weather Forecast <br> Update News</h2>
                        <p class="fs-19 fw-5 lh-150 bottom-space pt-0">Get the latest weather forecast for today with
                            up-to-date <br> information on temperature, precipitation, and more.</p>
                        <div class="col-xl-9">
                            <form action="./index-2.html">
                                <div class="input-group m-0">
                                    <input type="text" class="form-control" id="search" name="search" required=""
                                        placeholder="Search for location...">
                                    <button type="submit"><i class="fal fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 ">
                    <div class="detail p-100 text-center">
                        <div class="d-flex align-items-center justify-content-between mb-32 city-detail">
                            <h4 class="fw-6 color-dark m-0">London</h4>
                            <img src="./assets/media/icon/sun-icon.png" alt="">
                        </div>
                        <h5 class="fw-5 fs-23 color-dark">Today, 04 April</h5>
                        <h2 class="fw-6 fs-95 lh-120 color-dark m-0">24 <b>°</b></h2>
                        <p class="fw-6 mb-32 color-dark">Sunny</p>
                        <div class="d-flex align-items-center justify-content-center mb-24">
                            <span class="color-dark text-end">19 km/h</span>
                            <span class="color-dark text-start">Wind</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="color-dark text-end">Hum</span>
                            <span class="color-dark text-start">22%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>